body {
    background: rgb(248, 212, 255);
    font-family: Georgia, Arial, Helvetica;
    text-align: center;
    font-size: large;
}

.one{
    background-color: azure;
    text-align: center;
    width: 60%;
    align-items: center;
    margin-left: 20%;
    height: 170px;
    border: 2px;
}

.two{
    background-color: azure;
    text-align: center;
    width: 60%;
    align-items: center;
    margin-left: 20%;
    height: 170px;
}

.three{
    background-color: azure;
    text-align: center;
    width: 60%;
    align-items: center;
    margin-left: 20%;
    height: 170px;
    
}

.wpis{
    text-align: left;
    width: 50%;
    margin-left: 10%;
}